.header{
    background-color: rgb(9, 237, 245);
    display: flex;
    justify-content: space-between;
}

a:link{
    color: rgb(211, 233, 10);
}

a:visited{
    color: rgb(245, 9, 9);
}

h1{
    color: rgb(93, 16, 236);
  
    
}

h3{
    color: rgb(250, 245, 243);
   background-color: black;
  
}

h2{
    text-align: center;
    color: rgb(22, 22, 20);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    }


img{
    border: solid;
    color: rgb(228, 15, 15);
    background-color: rgb(115, 203, 230);
}

.item{
    position: relative;
    
}

.item p {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-30%,0%);
    opacity: 0;

}

.item:hover p {
    opacity: 1;
    color: rgb(220, 20, 193);
} 

.item:hover img{
    opacity: 0.33;
}

.menu{
    margin-left: 20px;
    margin-right: 20px;
}

.menu a{
    margin-left: 20px;
    margin-right: 20px;
}